In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220601" , periods=(6))
# print(dates)
datesDataframe = pd.DataFrame(np.random.randn(6,4) , index=dates , columns=list("ABCD"))
# print(datesDataframe)

# print(np.array([3,2])*4)
MyData ={'a':101 , 'b':103 , 'c':103}
s = pd.Series([121212,232121,434343,543231],index=['b','c','d','a'])
print(s)
print(s[['a','b','d']])
# print(len(MyData))

## Creating DataFrame Using List

In [ ]:
data = [['Alexia',10],['john',12],['benish',11]]
dataFrame = pd.DataFrame(data,index=['A','B','C'],columns=["Name",'Score'], dtype=float)

print(dataFrame)

## Creating DataFrame Using Dict

In [ ]:
data = [{'alixia':[12,'abcd'] , 'kenny':[212,'lmno'] , 'janet':[32,'xyzw']},{'a':1 , 'b':2 , 'c':3}]

df = pd.DataFrame(data,index=['R1','R2'] , columns=['a','b','e'])
print(df)

In [ ]:
dictOfSeries = {'one':pd.Series([1,2,3,4],index = ['a','b','c','d']) , 'two':pd.Series([1,2,3],index =['a','b','c'])}
dos = pd.DataFrame(dictOfSeries)
dos['three'] = pd.Series([11,22,33],index=['a','b','d'])
dos['four'] = dos['one']+dos['two']
print(dos)
print("2-4")
print(dos[1:3])
print(dos)

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.Series(np.random.randn(4))
df2 = pd.Series([[1,2,3,4,3],[5,6,7,8]])
# print(df1)
# print("Axis Are " , df1.axes)
# print("Axis Are " , df2.axes)
# print(df1.size)
# print(df2.size)
# print(df1.values)
# print(df2.values)
# print(df1.head(2))
print(df2.size)
print(np.size(df2))
print(df2.values)

## DataFrame Basic Functionality

In [1]:
import numpy as np
import pandas as pd

dataOfEmp = pd.DataFrame({'Age':pd.Series([-23,42,41,45,54]) , 'Name':pd.Series(['Tom' , 'James' , 'Ricky' , 'Vin' , 'Steve']) , 'Rating':pd.Series([4.23,3.89,3.24,2.59,3.20]) } )
print(dataOfEmp)
# print("\n abs of DataFrame \n" , dataOfEmp.abs(0,2))
print("\n Prod of dataframe \n" , dataOfEmp.prod())

print("\n Describe of dataframe \n" , dataOfEmp.describe(include='all'))
print("\n minimum of DataFrame \n" , dataOfEmp.min(0))
print("\n maximum of DataFrame \n" , dataOfEmp.max(0))
print("\n Mode of DataFrame \n" , dataOfEmp.mode(0))
print("\n Median of DataFrame \n" , dataOfEmp.median(0))
print("\n count of DataFrame \n" , dataOfEmp.count())
print("\n Sum of DataFrame \n" , dataOfEmp.sum(0))
print("\n CumSum of DataFrame \n" , dataOfEmp.cumsum(0))
print("\n Standered Deviation of DataFrame \n" , dataOfEmp.std(0))
print("\n Mean of DataFrame \n" , dataOfEmp.mean(0))
print("\n Head of DataFrame \n" , dataOfEmp.head(2))
print("\n Tail of DataFrame \n" , dataOfEmp.tail(2))
print("\n Values of DataFrame \n" , dataOfEmp.values)
print("Transpose: \n" , dataOfEmp.T)
print("\n Axis Are \n" , dataOfEmp.axes)
print("\n Data type \n " , dataOfEmp.dtypes)
print("\n Check DataFrame is Empty \n " , dataOfEmp.empty)
print("\n  Dimesntion of DataFrame is \n" , dataOfEmp.ndim)
print("\n Shape of DataFrame \n" , dataOfEmp.shape)
print("\n Size of DataFrame \n" , dataOfEmp.size)

   Age   Name  Rating
0  -23    Tom    4.23
1   42  James    3.89
2   41  Ricky    3.24
3   45    Vin    2.59
4   54  Steve    3.20

 Prod of dataframe
 Age      -9.624258e+07
Rating    4.418600e+02
dtype: float64

 Describe of dataframe
              Age Name    Rating
count    5.00000    5  5.000000
unique       NaN    5       NaN
top          NaN  Tom       NaN
freq         NaN    1       NaN
mean    31.80000  NaN  3.430000
std     31.05962  NaN  0.641522
min    -23.00000  NaN  2.590000
25%     41.00000  NaN  3.200000
50%     42.00000  NaN  3.240000
75%     45.00000  NaN  3.890000
max     54.00000  NaN  4.230000

 minimum of DataFrame
 Age         -23
Name      James
Rating     2.59
dtype: object

 maximum of DataFrame
 Age         54
Name       Vin
Rating    4.23
dtype: object

 Mode of DataFrame
    Age   Name  Rating
0  -23  James    2.59
1   41  Ricky    3.20
2   42  Steve    3.24
3   45    Tom    3.89
4   54    Vin    4.23

 Median of DataFrame
 Age       42.00
Rating     3.24
dtype: float64

 count of DataFrame
 Age       5
Name      5
Rating    5
dtype: int64

 Sum of DataFrame
 Age                         159
Name      TomJamesRickyVinSteve
Rating                    17.15
dtype: object

 CumSum of DataFrame
    Age                   Name  Rating
0  -23                    Tom    4.23
1   19               TomJames    8.12
2   60          TomJamesRicky   11.36
3  105       TomJamesRickyVin   13.95
4  159  TomJamesRickyVinSteve   17.15

 Standered Deviation of DataFrame
 Age       31.059620
Rating     0.641522
dtype: float64

 Mean of DataFrame
 Age       31.80
Rating     3.43
dtype: float64

 Head of DataFrame
    Age   Name  Rating
0  -23    Tom    4.23
1   42  James    3.89

 Tail of DataFrame
    Age   Name  Rating
3   45    Vin    2.59
4   54  Steve    3.20

 Values of DataFrame
 [[-23 'Tom' 4.23]
 [42 'James' 3.89]
 [41 'Ricky' 3.24]
 [45 'Vin' 2.59]
 [54 'Steve' 3.2]]
Transpose:
            0      1      2     3      4
Age      -23     42     41    45     54
Name     Tom  James  Ricky   Vin  Steve
Rating  4.23   3.89   3.24  2.59    3.2

 Axis Are
 [RangeIndex(start=0, stop=5, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]

 Data type
  Age         int64
Name       object
Rating    float64
dtype: object

 Check DataFrame is Empty
  False

  Dimesntion of DataFrame is
 2

 Shape of DataFrame
 (5, 3)

 Size of DataFrame
 15

/var/folders/7w/cwn158qd4kdd2x7ryts_x7hw0000gn/T/ipykernel_1246/737726435.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\n Prod of dataframe \n" , dataOfEmp.prod())
/var/folders/7w/cwn158qd4kdd2x7ryts_x7hw0000gn/T/ipykernel_1246/737726435.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\n Median of DataFrame \n" , dataOfEmp.median(0))
/var/folders/7w/cwn158qd4kdd2x7ryts_x7hw0000gn/T/ipykernel_1246/737726435.py:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\n Standered Deviation of DataFrame \n" , dataOfEmp.std(0))
/var/folders/7w/cwn158qd4kdd2x7ryts_x7hw0000gn/T/ipykernel_1246/737726435.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("\n Mean of DataFrame \n" , dataOfEmp.mean(0))